body{

  background-color: #f8f8f8;
  margin:0;
  padding: 40px;
  
}

.container{
text-align: left;
  width:80%;
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
h2{
  margin-bottom: 10px ;
}
input{
  width: 100%;
  padding: 12px;
border: 1px solid #ddd;
border-radius: 6px;
margin-bottom: 15 px;
font-size: 16px;
}

.article{
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.date{
  color: gray;
  font-size: 14px;
}
mark{
  background-color: yellow;
}